.chatwindow {
  $h-header: 68px;
  $h-input: 58px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $h-header;
    padding: 0 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    .title {
      & > p {
        margin-bottom: 0;
        font-weight: 600;
      }
    }

    .add-btn {
      border: none;
      margin-left: auto;
    }
  }

  .message-content {
    .messages {
      height: calc(100vh - $h-header - $h-input);
      overflow-y: auto;
      padding: 8px 12px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .form-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $h-input;

    .input {
      height: 58px;
      font-size: 1.6rem;
    }

    .send-btn {
      height: 58px;
      background-color: #2887e6;
      font-weight: 500;
      color: #fff;
    }
  }
}

.message {
  .user-name {
    margin: 0 32px 0 8px;
    font-weight: 600;
  }

  .message-time {
    color: rgba(0, 0, 0, 0.6);
  }
}
.content {
  margin-left: 40px;
  margin-bottom: 6px;
}
