$text-color: #fff;

.wrapper {
  background-color: #3f0e40;
  height: 100vh;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 6px 24px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

  .user {
    display: flex;
    align-items: center;
  }

  .name {
    color: $text-color;
    margin-left: 8px;
  }
}
